.Home {
    text-align: center;
}

.Home-logo {
    animation: Home-logo-spin infinite 20s linear;
    height: 80px;
}

.Home-header {
    background-color: #222;
    height: 150px;
    color: white;
    width: 100%;
    overflow: hidden;
    height: 800px;
}

.Home-header video {
    width: 100%;
}

.Home-intro {
    font-size: large;
}

.conclusion img {
    width: 100%;
}

.conclusion-photo {
    height: 80px;
    overflow: hidden;
}

@keyframes Home-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
