body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* Will get rid of underline on hover of links */
a {
  text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
  color: black;
}
